body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #1f1f1f;
  color: #ffffff;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2a2a2a;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.profile-box {
  background-color: #3a3a3a;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.info {
  list-style: none;
  padding: 0;
  margin: 15px;
}

.info li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.info label {
  font-weight: 600;
}

.info.value {
  color: #ccc;
}

.divider {
  border: none;
  height: .5px;
  background-color: #facc15;
  margin: 15px 0;
}


.language-charts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.chart {
  text-align: center;
}

.circle {
  --size: 30px;
  --border: 5px;
  --color: #facc15;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: transparent;
  position: relative;
  background: conic-gradient(var(--color) calc(var(--percent) * 100%),
      #2a2a2a calc(var(--percent) * 100%));
  margin: 0 auto 5px;
}

.circle::before {
  content: '';
  position: absolute;
  width: calc(var(--size) - var(--border) * 2);
  height: calc(var(--size) - var(--border) * 2);
  background: #2a2a2a;
  border-radius: 50%;
}

.section-title {
  font-size: .95em;
  margin: 20px 0 10px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill label {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.skill .bar {
  height: 6px;
  background: #444;
  border-radius: 3px;
  overflow: hidden;
}

.skill .bar div {
  height: 100%;
  background-color: #facc15;
  border-radius: 3px;
}

.tech-skills.entry-level.entry-level {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.skill-entry {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #ffffff;
  background: #2a2a2a;
  padding: 5px 10px;
  border-radius: 5px;
}

.download-btn {
  padding: 10px 15px;
  background-color: #facc15;
  border: none;
  color: #000;
  cursor: pointer;
  margin-top: 60px;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.hero-text h1 {
  font-size: 2em;
  color: #fff;
}

.hero-text p {
  color: #facc15;
  margin: 10px 0;
}

.cta {
  padding: 10px 20px;
  background-color: #facc15;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.hero-img {
  max-width: 250px;
  border-radius: 10px;
  margin-right: 60px;
}


.services {
  margin-top: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.portfolio-card {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.portfolio-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.portfolio-card a {
  display: inline-flex;
  font-size: 0.85em;
  color: #facc15;
  text-decoration: none;
  font-weight: bold;
}